force-app/main/default/flows/CreateSalesOrder.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>CreateSalesOrderReqInput</name>
        <label>CreateSalesOrderReqInput</label>
        <locationX>271</locationX>
        <locationY>590</locationY>
        <actionName>SalesOrderCreation</actionName>
        <actionType>apex</actionType>
        <connector>
            <targetReference>SalesOrderIdCreated</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>curISOCode</name>
            <value>
                <elementReference>varCurISOCode</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>currentDate</name>
            <value>
                <elementReference>varCurrentDate</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>division</name>
            <value>
                <elementReference>varDivision</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>optyAppln</name>
            <value>
                <elementReference>varApplication</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>orderType</name>
            <value>
                <elementReference>varSelectedOrderType</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>qLines</name>
            <value>
                <elementReference>GetQuoteLines</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteID</name>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>quoteName</name>
            <value>
                <elementReference>varQuoteName</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>salesOrg</name>
            <value>
                <elementReference>varSalesOrg</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sapCustNo</name>
            <value>
                <elementReference>varSAPCustNo</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>sapRefDocNo</name>
            <value>
                <elementReference>varsaprefno</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varMessage</assignToReference>
            <name>message</name>
        </outputParameters>
        <outputParameters>
            <assignToReference>varSalesOrderID</assignToReference>
            <name>salesOrderNo</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>49.0</apiVersion>
    <decisions>
        <name>Check_Sales_Order_Exist</name>
        <label>Check Sales Order Exist</label>
        <locationX>874</locationX>
        <locationY>400</locationY>
        <defaultConnector>
            <targetReference>CheckIfPrimaryQuote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Sales Order Does Not Exist</defaultConnectorLabel>
        <rules>
            <name>Ch</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrderID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Error_Message</targetReference>
            </connector>
            <label>Sales Order Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>CheckIfPrimaryQuote</name>
        <label>CheckIfPrimaryQuote</label>
        <locationX>614</locationX>
        <locationY>411</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>IsPrimaryQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Display_Quote_Information</targetReference>
            </connector>
            <label>IsPrimaryQuote</label>
        </rules>
        <rules>
            <name>NotPrimaryQuote</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varPrimary</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>ErrorQuoteNotPrimary</targetReference>
            </connector>
            <label>NotPrimaryQuote</label>
        </rules>
    </decisions>
    <decisions>
        <description>Checks if the Order Type is Populated.</description>
        <name>CheckOrderTypeExists</name>
        <label>Check OrderType Exists</label>
        <locationX>263</locationX>
        <locationY>457</locationY>
        <defaultConnector>
            <targetReference>OrderTypeDoesNotExists</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderTypeExists</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varSelectedOrderType</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateSalesOrderReqInput</targetReference>
            </connector>
            <label>Order Type Exists</label>
        </rules>
    </decisions>
    <decisions>
        <name>SalesOrderIdCreated</name>
        <label>SalesOrderIdCreated</label>
        <locationX>627</locationX>
        <locationY>592</locationY>
        <defaultConnector>
            <targetReference>Update_Quote</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>OrderNotCreated</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>varSalesOrderID</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>varSalesOrderID</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>SalesOrderNotCreated</targetReference>
            </connector>
            <label>SalesOrderNotCreated</label>
        </rules>
    </decisions>
    <description>Creates Sales Order</description>
    <dynamicChoiceSets>
        <description>Checks if the Quote has Sales Order ID</description>
        <name>CheckSalesOrderIDExists</name>
        <dataType>String</dataType>
        <displayField>Id</displayField>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SalesOrder__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>Create Sales Order {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Sales Order</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordLookups>
        <description>Fetches the Current Quote Records</description>
        <name>Fetch_Quote_Records</name>
        <label>Fetch Quote Records</label>
        <locationX>176</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetOpportunity</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Account__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>SBQQ__Quote__c</object>
        <outputAssignments>
            <assignToReference>varOrderType</assignToReference>
            <field>AUART__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountName</assignToReference>
            <field>AccountName__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varCurISOCode</assignToReference>
            <field>CurrencyIsoCode</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varQuoteName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varsaprefno</assignToReference>
            <field>SAPRefDoc__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varAccountId</assignToReference>
            <field>SBQQ__Account__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varOpportunityId</assignToReference>
            <field>SBQQ__Opportunity2__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varPrimary</assignToReference>
            <field>SBQQ__Primary__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSalesOrderID</assignToReference>
            <field>SalesOrder__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varSalesOrg</assignToReference>
            <field>SalesOrganization__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>fetches account records</description>
        <name>GetAccountRecords</name>
        <label>GetAccountRecords</label>
        <locationX>545</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetQuoteLines</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varAccountId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>varSAPCustNo</assignToReference>
            <field>SAPCustomerNumber__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetOpportunity</name>
        <label>GetOpportunity</label>
        <locationX>353</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GetAccountRecords</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </filters>
        <object>Opportunity</object>
        <outputAssignments>
            <assignToReference>varApplication</assignToReference>
            <field>ApplicationField__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>varDivision</assignToReference>
            <field>Division__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <description>Fetches the quote lines</description>
        <name>GetQuoteLines</name>
        <label>GetQuoteLines</label>
        <locationX>882</locationX>
        <locationY>177</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_Sales_Order_Exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>SBQQ__Quote__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <filters>
            <field>SBQQ__Optional__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>SBQQ__QuoteLine__c</object>
        <sortField>SBQQ__Number__c</sortField>
        <sortOrder>Asc</sortOrder>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <description>Update Quote Record</description>
        <name>Update_Quote</name>
        <label>Update Quote Record</label>
        <locationX>902</locationX>
        <locationY>584</locationY>
        <connector>
            <targetReference>UpdateOpportunityToClosedWon</targetReference>
        </connector>
        <faultConnector>
            <targetReference>FaultMessage</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SBQQ__Status__c</field>
            <value>
                <stringValue>Accepted</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SalesOrder__c</field>
            <value>
                <elementReference>varSalesOrderID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SkipValidationRule__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>SBQQ__Quote__c</object>
    </recordUpdates>
    <runInMode>SystemModeWithoutSharing</runInMode>
    <screens>
        <description>Displays quote account information and Order type</description>
        <name>Display_Quote_Information</name>
        <label>Display Quote Information</label>
        <locationX>271</locationX>
        <locationY>321</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CheckOrderTypeExists</targetReference>
        </connector>
        <fields>
            <name>DisplayAccountOrderTypeInfo</name>
            <fieldText>&lt;p&gt;Account : {!varAccountName}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>getOrderType</name>
            <extensionName>c:getPickListValue</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>defaultValue</name>
                <value>
                    <elementReference>varOrderType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>AUART__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>fieldLabel</name>
                <value>
                    <stringValue>Order Type</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>SBQQ__Quote__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>selectedPickListValue</name>
                <value>
                    <elementReference>varSelectedOrderType</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordTypeId</name>
                <value>
                    <elementReference>varRecordTypeId</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <outputParameters>
                <assignToReference>varRecordTypeId</assignToReference>
                <name>recordTypeId</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varSelectedOrderType</assignToReference>
                <name>selectedPickListValue</name>
            </outputParameters>
            <outputParameters>
                <assignToReference>varOrderType</assignToReference>
                <name>defaultValue</name>
            </outputParameters>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Displays error message when there is no sales order created</description>
        <name>Error_Message</name>
        <label>Error Message</label>
        <locationX>1111</locationX>
        <locationY>395</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>SalesOrderCreatedAlready</name>
            <fieldText>&lt;p&gt;A Sales Order was already created for this quote.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>ErrorQuoteNotPrimary</name>
        <label>ErrorQuoteNotPrimary</label>
        <locationX>620</locationX>
        <locationY>276</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>NotPrimaryQuoteErrorMsg</name>
            <fieldText>&lt;p&gt;&lt;span style=&quot;font-size: 14px;&quot;&gt;Please ensure the quote is set as primary for its opportunity.&lt;/span&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <description>Error in the flow</description>
        <name>FaultMessage</name>
        <label>FaultMessage</label>
        <locationX>1087</locationX>
        <locationY>587</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>ErrorMessgae</name>
            <fieldText>&lt;p&gt;{!$Label.SalesOrdersFlowErrorMessage}:{!$Flow.FaultMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>Please select a value for Order Type.</description>
        <name>OrderTypeDoesNotExists</name>
        <label>Order Type Does Not Exists</label>
        <locationX>60</locationX>
        <locationY>456</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>OrderTypeErrorMsg</name>
            <fieldText>&lt;p&gt;Please Select a value for Order Type&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Sales_Order_Creation_Success</name>
        <label>Sales Order Creation Success</label>
        <locationX>1054</locationX>
        <locationY>771</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Success</name>
            <fieldText>&lt;p&gt;Sales Order &lt;span style=&quot;background-color: rgb(255, 255, 255); color: rgb(62, 62, 60);&quot;&gt;{!varSalesOrderID} &lt;/span&gt;Created Successfully !!&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <description>error in apex action</description>
        <name>SalesOrderNotCreated</name>
        <label>SalesOrderNotCreated</label>
        <locationX>634</locationX>
        <locationY>771</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Failure</name>
            <fieldText>&lt;p&gt;{!varMessage}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>50</locationY>
        <connector>
            <targetReference>Fetch_Quote_Records</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>UpdateOpportunityToClosedWon</name>
        <label>UpdateOpportunityToClosedWon</label>
        <locationX>903</locationX>
        <locationY>770</locationY>
        <connector>
            <targetReference>Sales_Order_Creation_Success</targetReference>
        </connector>
        <flowName>UpdateOpportunityToClosedWon</flowName>
        <inputAssignments>
            <name>OpportunityId</name>
            <value>
                <elementReference>varOpportunityId</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>QuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Quote Order Type</description>
        <name>QuoteOrderType</name>
        <dataType>Picklist</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current Quote Record</description>
        <name>QuoteRecordToUpdate</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>SBQQ__Quote__c</objectType>
    </variables>
    <variables>
        <description>This variable stores current quote record id</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable stores account ID</description>
        <name>varAccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Account Name</description>
        <name>varAccountName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>additionalDiscount</description>
        <name>varAddDisc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varApplication</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Currency Code</description>
        <name>varCurISOCode</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Current Date</description>
        <name>varCurrentDate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Division</description>
        <name>varDivision</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>ResponseMessage</description>
        <name>varMessage</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varOpportunityId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>This variable stores the Order Type</description>
        <name>varOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varPrimary</name>
        <dataType>Boolean</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Quantity</description>
        <name>varQty</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>QuoteName</description>
        <name>varQuoteName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>varRecordTypeId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue>012000000000000AAA</stringValue>
        </value>
    </variables>
    <variables>
        <description>This Variable stores the Sales Order Id</description>
        <name>varSalesOrderID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <elementReference>CheckSalesOrderIDExists</elementReference>
        </value>
    </variables>
    <variables>
        <name>varSalesOrg</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SalesRep</description>
        <name>varSalesRep</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>SAP CustomerNumber</description>
        <name>varSAPCustNo</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>sap ref doc no. ACP-4345</description>
        <name>varsaprefno</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores the selected Order Type Value on the Screen.</description>
        <name>varSelectedOrderType</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Special Price</description>
        <name>varSplPrice</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
